footer.footer 
    .container 
        .row 
                h6 Contact 
                p 
                    | 1234 Main Street 
                    br 
                    | Springfield, IL 62701 
                    br 
                    | (217) 555-5555 
                    br 
                    |
                    